<h1>Apple - Products</h1>
<p>Listado de productos</p>
{{#each cacharros}}
  <h2>
    <a href="/products/{{@index}}">{{section}}</a>
  </h2>
  <ul>
      {{#each items}}
        <li>{{this}}</li>
      {{/each}}
  </ul>
{{/each}}