<h1>Apple - Products</h1>
<p>Listado de productos</p>

<h2>MacBook</h2>
<ul>
  <li>MacBook</li>
  <li>MacBook Air</li>
  <li>MacBook Pro</li>
  <li>iMac</li>
  <li>iMac Pro</li>
  <li>Mac Pro</li>
  <li>Mac mini</li>
  <li>Accessories</li>
  <li>High Sierra</li>
</ul>

<h2>iPad</h2>
<ul>
  <li>iPad Pro</li>
  <li>iPad</li>
  <li>iPad mini 4</li>
  <li>iOS 11</li>
  <li>Accessories</li>
</ul>

<h2>Iphone</h2>
<ul>
  <li>iPhone X</li>
  <li>iPhone 8</li>
  <li>iPhone 7</li>
  <li>iPhone 6s</li>
  <li>iPhone SE</li>
  <li>iOS 11</li>
  <li>Accessories</li>
</ul>