<h1>Apple - Contact</h1>
<form action="/login/submitporpost" method="post">
  <div>
    <label for="fname">Username</label>
    <input type="text" id="fname" name="username" placeholder="nombre">
  </div>
  <div>
    <label for="lname">Password</label>
    <input type="password" id="lname" name="password" placeholder="password.">
  </div>
  <input type="submit" value="Submit">
</form>